.animated {
  display: inline-block;
  margin: 1em;
  max-width: 20em;
  overflow: hidden;
  color: black;
}
.animated blockquote {
  background-color: #fff;
  border: solid 5px #757575;
  display: inline-block;
  margin: 0;
  padding: 1em;
  position: relative;
}
.animated blockquote:before {
  animation: clockwise 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.animated blockquote:after {
  animation: counter 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.animated blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
}
.animated blockquote cite:before {
  content: "- ";
}
.animated blockquote > * {
  position: relative;
  z-index: 1;
}

@keyframes clockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes counter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}